<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" #modal>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Modal title</h5> 

      </div> -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form (ngSubmit)="f.form.valid && onSubmit(f,$event)" #f="ngForm" novalidate>
          <div class="row product-top-info">
            <div class="col-auto" *ngIf="!this.isEdit && !this.isNew">
              <button type="button" class="btn btn-link" (click)="updateOrDelete(product.id)" *ngIf="checkManager()">
                <i class="fas fa-wrench"></i>
              </button>
            </div>
            <div class="col-auto align-self-center">
              עדכון אחרון: {{product.PriceUpdateDate}} |
            </div>
            <div class="col-auto align-self-center">
              ברקוד: {{product.id}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="product-title row">
                <img [src]="getProdutImage(product.id)" onError="this.src='assets/img/product/placeholder.png';" alt="{{ product.ManufacturerItemDescription }}"
                  class="rounded">
                <div class="product-name">
                  {{product.name}}
                </div>
              </div>
              <div class="product-tags row">
                <img src="assets/img/GlutenFree.png" *ngIf="product.GlutenFree" alt="ללא גלוטן" title="ללא גלוטן" data-toggle="tooltip" data-placement="bottom"
                />
                <img src="assets/img/Kashrut.png" *ngIf="product.Kashrut" alt="{{ product.Kashrut }}" title="{{ product.Kashrut }}" data-toggle="tooltip"
                  data-placement="bottom" />
                <img src="assets/img/Justice.png" *ngIf="product.ControlledPrice" alt="{{ product.ControlledPrice }}" title="מחיר מפוקח: {{ product.ControlledPrice }} ש&quot;ח"
                  title="מחיר מפוקח: {{ product.ControlledPrice }} ש&quot;ח" data-toggle="tooltip" data-placement="bottom"
                />
                <img src="assets/img/Organic.png" *ngIf="product.Organic" alt="אורגני" title="אורגני" data-toggle="tooltip" data-placement="bottom"
                />
                <img src="assets/img/VeganFriendly.png" *ngIf="product.VeganFriendly" alt="טבעוני" title="טבעוני" data-toggle="tooltip" data-placement="bottom"
                />
                <img src="assets/img/EfshariBari.png" *ngIf="product.EfshariBari" alt="אפשרי בריא" title="אפשרי בריא" data-toggle="tooltip"
                  data-placement="bottom" />
              </div>
              <div class="product-basket row d-flex justify-content-around align-middle flex-wrap">
                <div class="d-flex justify-content-between align-middle" *ngIf="!getItemAmount(product.id)">
                  <button style="margin-top:5%" class="button-style" (click)="addToBasket(product)" type="button" class="btn btn-primary">הוסף לסל</button>
                </div>
                <div class="col-auto" *ngIf="getItemAmount(product.id) !== 0">
                  <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                  <input type="text" #amountInput [value]="getItemAmount(product.id)" (input)="setItemAmount(product, $event)" class="form-control item-amount-input">
                  <button type="button" class="btn btn-link" (click)="removeFromBasket(product.id, amountInput)">
                    <i class="fas fa-minus-circle"></i>
                  </button>
                </div>
                <div class="align-self-center col-auto" *ngIf="getItemAmount(product.id) !== 0">
                  <button type="button" class="btn btn-link" (click)="deleteFromBasket(product, 0)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">שם המוצר:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.name}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="1" name="name" type="text" [(ngModel)]="product.name" #name="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">כמות:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  <div class="product-quantity">{{ +product.Quantity }} {{product.UnitQty}}</div>
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="7" name="Quantity" type="text" [(ngModel)]="product.Quantity" #Quantity="ngModel" />
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="7" name="UnitQty" type="text" [(ngModel)]="product.UnitQty" #UnitQty="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">קטגוריה:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{this.CategoryValue ? this.CategoryValue.name : ""}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <select (change)="selectItem($event.target.value)" class="form-control">
                    <option *ngFor="let currCategory of categories" [selected]="currCategory.id == currentCategory" value={{currCategory.id}}>{{currCategory.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">ספק/יצרן:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.company}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="6" name="company" type="text" [(ngModel)]="product.company" #company="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">ארץ ייצור:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  <span class="flag-icon {{'flag-icon-' + product.createCountry | lowercase}}" title="{{product.createCountry}}" data-toggle="tooltip"
                    data-placement="right" tabindex="0"></span>
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="createCountry" type="text" [(ngModel)]="product.createCountry" #createCountry="ngModel"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">תיאור:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.ManufacturerItemDescription }}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="ManufacturerItemDescription" type="text" [(ngModel)]="product.ManufacturerItemDescription"
                    #ManufacturerItemDescription="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">מחיר:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{ product.price | currency:'ILS':'symbol':'1.2-3' }}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="2" name="price" type="text" [(ngModel)]="product.price" #price="ngModel" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <span class="feature-title">מחיר ליחידת מידה:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.UnitOfMeasurePrice | currency:'ILS':'symbol':'1.2-3'}} / {{product.UnitOfMeasure}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="UnitOfMeasurePrice" type="text" [(ngModel)]="product.UnitOfMeasurePrice" #UnitOfMeasurePrice="ngModel"
                  />
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="UnitOfMeasure" type="text" [(ngModel)]="product.UnitOfMeasure" #UnitOfMeasure="ngModel"
                  />
                </div>
              </div>
              <div class="row" *ngIf="this.isEdit || this.isNew">
                <div class="col-4">
                  <span class="feature-title">ברקוד:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.id}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="id" type="text" [(ngModel)]="product.id" #id="ngModel" />
                </div>
              </div>
              <div class="row" *ngIf="this.isEdit || this.isNew">
                <div class="col-4">
                  <span class="feature-title">תאריך עידכון אחרון:</span>
                </div>
                <div class="col" *ngIf="!this.isEdit && !this.isNew">
                  {{product.PriceUpdateDate}}
                </div>
                <div class="col" *ngIf="this.isEdit || this.isNew">
                  <input class="form-control" tabindex="5" name="PriceUpdateDate" type="text" [(ngModel)]="product.PriceUpdateDate" #PriceUpdateDate="ngModel"
                  />

                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  תגובות:
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div *ngIf="product.comments">
                    <ul>
                      <li *ngFor="let currComment of product.comments" style="margin-left:50px">
                        תגובה: {{ currComment.comment }} עם ציון {{ currComment.grade}}
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="!product.comments">
                    אין תגובות.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <textarea class="form-control" name="comment" [(ngModel)]="comm" #comment="ngModel"></textarea>
                </div>
                <div class="col">
                  <div class="form-group row">
                    ציון:
                    <div class="col-lg-4 col-md-7 col-9">
                      <select (change)="SelectedGrade($event.target.value)" class="form-control">
                        <option *ngFor="let currGrade of grades; let i = index;" value={{currGrade}} [selected]="i == 0">{{currGrade}}</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="addComment()">הוסף תגובה</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col">

                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="this.isEdit || this.isNew">
            <div class="col">
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid || currentCategory == 0" *ngIf="this.isNew" (click)="actionCodeToAdd()">הוספת מוצר</button>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="this.isEdit" (click)="actionCodeToUpdate()">עדכן מוצר</button>
                <button type="submit" class="btn btn-primary" *ngIf="this.isEdit" (click)="actionCodeToDelete()">מחיקת מוצר</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 
  
<div class="container" *ngIf="product">
  <form id="contact" name="form" (ngSubmit)="f.form.valid && onSubmit(f,$event)" #f="ngForm" novalidate>
    <h3>פרטי מוצר</h3>

    <fieldset class="row">
      שם מוצר:
      <input class="form-control" tabindex="1" name="name" type="text" [(ngModel)]="product.name" #name="ngModel" />
    </fieldset>

    <fieldset class="row">
      מחיר:
      <input class="form-control" tabindex="2" name="price" type="text" [(ngModel)]="product.price" #price="ngModel" />
    </fieldset>

    <fieldset class="row">
      תיאור:
      <input class="form-control" tabindex="7" name="desc" type="text" [(ngModel)]="product.ManufacturerItemDescription" #ManufacturerItemDescription="ngModel" />
    </fieldset>

    <fieldset class="row">
      קטגוריה:
      <input class="form-control" tabindex="3" name="categoryValue" type="text" [(ngModel)]="product.categoryValue" #categoryValue="ngModel" />
    </fieldset>

    <fieldset class="row">
      קלוריות:
      <input class="form-control" tabindex="4" name="calories" type="text" [(ngModel)]="product.calories" #calories="ngModel" />
    </fieldset>

    <fieldset class="row">
      מדינת יצור:
      <input class="form-control" tabindex="5" name="createCountry" type="text" [(ngModel)]="product.createCountry" #createCountry="ngModel" />
    </fieldset>

    <fieldset class="row">
      יצרן:
      <input class="form-control" tabindex="6" name="company" type="text" [(ngModel)]="product.company" #company="ngModel" />
    </fieldset>

    <fieldset class="row">
      יחידת מידה:
      <input class="form-control" tabindex="7" name="UnitQty" type="text" [(ngModel)]="product.UnitQty" #UnitQty="ngModel" />
    </fieldset>

    <div *ngIf="product.comments">
      <fieldset class="row">
        רשימת תגובות
        <ul>
          <li *ngFor="let currComment of product.comments" style="margin-left:50px">
            תגובה: {{ currComment.comment }} עם ציון {{ currComment.grade}}
          </div>
        </ul>
      </fieldset>
    </div>

    <fieldset class="row">
      תגובה על מוצר:
      <textarea name="comment" [(ngModel)]="comm" #comment="ngModel"></textarea>
    </fieldset>

    <fieldset class="row">
      ציון:
      <div>
        <select (change)="SelectedGrade($event.target.value)" class="form-control">
          <option *ngFor="let currGrade of grades" value={{currGrade}}>{{currGrade}}</option>
        </select>
      </div>
    </fieldset>

    <fieldset style="margin-top:5%">
      <button style="margin-top:5%" class="button-style" (click)="addComment()">הוסף תגובה</button>
      <button style="margin-top:5%" class="button-style" (click)="addToBasket(product)">הוסף לסל</button>
    </fieldset>
  </form>
</div> -->
