<div class="container main-content py-3 py-md-4 my-4 my-md-5 rounded">
  <div class="row justify-content-center">
    <h2>כל המוצרים</h2>
  </div>

  <div class="row justify-content-center">
    בעמוד זה, ניתן לצפות בכל המוצרים הקיימים באתר בצורה נוחה וקומפקטית. בנוסף, ניתן לבצע חיפושים מורכבים לפי קטגוריה, שם המוצר
    וטווח מחיר - ולשלב ביניהם.
  </div>

  <form class="filter-form form-inline col-xs-6 col-md-12">
    <div class="form-group">
      <label class="mr-2">קטגוריה: </label>
      <select (change)="selectItem($event.target.value)" class="form-control">
        <option *ngFor="let currCategory of categories" value={{currCategory.id}}>{{currCategory.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-2">שם המוצר: </label>
      <input class="form-control" name="name" [(ngModel)]="name" />
    </div>
    <div class="form-group">
      <label class="mr-2">ממחיר: </label>
      <input class="form-control" type="number" name="fromPrice" [(ngModel)]="fromPrice" />
    </div>
    <div class="form-group">
      <label class="mr-2">עד מחיר: </label>
      <input class="form-control" type="number" name="toPrice" [(ngModel)]="toPrice" />
    </div>
    <div class="form-group" style="margin-top: 5px;">
      <button class="btn btn-primary form-control" (click)="onClickfindProducts()">חפש</button>
    </div>
  </form>
  <div class="loader" *ngIf="!isDataLoaded"></div>
  <div *ngIf="isDataLoaded" class="table-responsive">
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">מזהה מוצר</th>
          <th scope="col">שם מוצר</th>
          <th scope="col">מחיר</th>
          <th scope="col">קטגוריה</th>
          <!-- <th scope="col">קלוריות</th> -->
          <th scope="col">מדינת יצור</th>
          <th scope="col">יצרן</th>
          <th scope="col">הצג פרטים</th>
          <!-- <th scope="col">הוסף מוצר לסל</th> -->
          <th scope="col" *ngIf="checkManager()">עדכן/ מחק מוצר</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currProduct of productPaging | paginate: { itemsPerPage:limit, currentPage: p,totalItems: productSize} ">
          <td>{{currProduct.id}}</td>
          <td>{{currProduct.name}}</td>
          <td>{{currProduct.price}}</td>
          <td>{{currProduct.categoryValue}}</td>
          <!-- <td>{{currProduct.calories}}</td> -->
          <td>{{currProduct.createCountry}}</td>
          <td>{{currProduct.company}}</td>
          <td>
            <button class="btn btn-primary" (click)="showDetails(currProduct.id, currProduct.category)">הצג פרטים</button>
          </td>
          <!-- <td>
            <button class="btn btn-primary" (click)="addToBasket(currProduct)">הוסף לסל</button>
          </td> -->
          <td *ngIf="checkManager()">
            <button class="btn btn-primary" (click)="updateOrDelete(currProduct.id, currProduct.category)">עריכת מוצר</button>
          </td>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <pagination-controls class="pager" (pageChange)="pageChanged(p =$event)" previousLabel="" nextLabel="" maxSize="7">
      </pagination-controls>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
