
<div class="container">
  <form name="form" #f="ngForm" id="contact" *ngIf="productIdToShow != 0 && productDetails">
    <h3>פרטי מוצר</h3>

    <fieldset class="row">
      שם מוצר:
      <input tabindex="1" name="name" type="text" [(ngModel)]="productDetails.name" #name="ngModel" disabled />
    </fieldset>

    <fieldset class="row">
      מחיר:
      <input tabindex="2" name="price" type="text" [(ngModel)]="productDetails.price" #price="ngModel" disabled />
    </fieldset>

    <fieldset class="row">
      קטגוריה:
      <input tabindex="3" name="categoryValue" type="text" [(ngModel)]="productDetails.categoryValue" #categoryValue="ngModel" disabled />
    </fieldset>

    <fieldset class="row">
      קלוריות:
      <input tabindex="4" name="calories" type="text" [(ngModel)]="productDetails.calories" #calories="ngModel" disabled />
    </fieldset>

    <fieldset class="row">
      מדינת יצור:
      <input tabindex="5" name="createCountry" type="text" [(ngModel)]="productDetails.createCountry" #createCountry="ngModel" disabled />
    </fieldset>

    <fieldset class="row">
      יצרן:
      <input tabindex="6" name="company" type="text" [(ngModel)]="productDetails.company" #company="ngModel" disabled />
    </fieldset>
  </form>
</div>
