<div class="products row justify-content-center">
  <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 py-2" *ngFor="let product of productsByCategory | paginate: { itemsPerPage:limit, currentPage: p,totalItems: productSize}; let i = index">
    <div class="product card" (mouseenter)="enterCard(i)" (mouseleave)="leaveCard(i)">
      <div class="d-flex justify-content-between align-middle" *ngIf="!getItemAmount(product.id)" [ngClass]="i == hoverIndex ? 'showControl' : 'hideControl'">
        <div>
          <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-between align-middle" *ngIf="getItemAmount(product.id) !== 0">
        <div>
          <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)">
            <i class="fas fa-plus-circle"></i>
          </button>
          <input type="text" #amountInput [value]="getItemAmount(product.id)" (input)="setItemAmount(product, $event)" class="form-control item-amount-input">
          <button type="button" class="btn btn-link" (click)="removeFromBasket(product.id, amountInput)">
            <i class="fas fa-minus-circle"></i>
          </button>
        </div>
        <div class="align-self-center">
          <button type="button" class="btn btn-link" (click)="updateOrDelete(product.id)" *ngIf="checkManager()">
            <i class="fas fa-wrench"></i>
          </button>
          <button type="button" class="btn btn-link" (click)="deleteFromBasket(product, 0)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <img [src]="getProdutImage(product.id)" onError="this.src='assets/img/product/placeholder.png';" alt="Card image cap" class="card-img-top rounded"
        (click)="showDetails(product.id)">
      <div class="card-body" style="padding-top: 0px;">
        <div class="card-title">
          {{product.name}}
        </div>
        <div class="card-text">
          <ul class="feature-list">
            <div class="product-quantity">{{product.Quantity}} {{product.UnitQty}}</div>
            <li>
              <div class="row">
                <div class="col-3">
                  <span class="feature-title">ספק:</span>
                </div>
                <div class="col-1">
                </div>
                <div class="col">
                  {{product.company}}
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-3">
                  <span class="feature-title">א. ייצור:</span>
                </div>
                <div class="col-1">
                </div>
                <div class="col">
                  <span class="flag-icon {{'flag-icon-' + product.createCountry | lowercase}}"></span>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex flex-row">
                <div>
                  <span class="feature-title">מחיר:</span>
                </div>
                <div class="ml-auto">
                  <span class="product-price ml-auto">
                    {{product.price}} ₪
                  </span>
                </div>
              </div>
              <!-- <span class="feature-title">מחיר:</span>
              <span class="product-price ml-auto">
                {{product.price}} ₪
              </span> -->
            </li>
            <li>
              <div class="d-flex flex-row">
                <div class="product-price-per-unit ml-auto">
                  {{product.UnitOfMeasurePrice}} ₪ / {{product.UnitOfMeasure}}
                </div>
              </div>
            </li>
          </ul>
          <!-- <button class="btn btn-primary float-right" (click)="showDetails(product.id)">פרטים נוספים</button> -->
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="pageChanged(p = $event)" previousLabel="לאחור" nextLabel="הבא" maxSize="9"></pagination-controls>
</div>
<div *ngIf="userName()">
</div>
