/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title-right {
  text-align: right;
}*/

.card .showControl {
  visibility: visible;
}

.card .hideControl {
  visibility: hidden;
}

.card .item-amount-input {
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: center;
}

.card .feature-title {
  color: #cacaca;
}

.card .feature-list {
  list-style: none;
  padding-right: 20px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
  max-height: 150px;
  cursor: pointer;
}

.product-quantity {
  text-align: center;
  color: gray;
}

.card-text {
  font-size: 16px;
}

.feature-title {
  font-size: 14px;
}

.product-price-per-unit {
  font-size: 12px;
}

.product-price {
  font-weight: bold;
  font-size: 17px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-tags img {
  max-height: 25px;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid purple;
}

.pagination>li.active>a {
  background: purple;
  color: #fff;
}
