/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title-right {
  text-align: right;
}*/

.card .showControl {
  visibility: visible;
}

.card .hideControl {
  visibility: hidden;
}

.card .item-amount-input {
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: center;
}

.card .feature-title {
  color: #cacaca;
}

.card .feature-list {
  list-style: none;
  padding-right: 20px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
  max-height: 150px;
  cursor: pointer;
}

.product-quantity {
  font-size: 14px;
  text-align: center;
  color: gray;
}

.card-text {
  font-size: 16px;
}

.feature-title {
  font-size: 14px;
}

.product-price-per-unit {
  font-size: 12px;
}

.product-price {
  font-weight: bold;
  font-size: 17px;
}

.product-name {
  font-size: 17px;
  font-weight: bold;
}

.product-tags img {
  max-height: 25px;
}

.card-options .btn {
  padding-right: 6px;
  padding-left: 6px;
}

.product-image {
  position: relative;
  cursor: pointer;
}

img.white-opacity {
  background: white;
  opacity: 0.3;
}

.product-in-cart-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  color: #28CE28;
  transform: translate(50%, -50%);
}

.pager ::ng-deep ul.ngx-pagination {
  background-color: white;
  padding: 0px;
}

.category-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 38px;
  height: 200px;
  min-width: 100%;
}

.category-img img {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: -100%;
}
