<div class="row">
  <div class="col-md-8 card-styling" *ngIf="!isBasketEmpty()">
    <table class="table" *ngIf="!isBasketEmpty()">
      <thead>
        <tr>
          <th scope="col">שם המוצר</th>
          <th scope="col">מחיר ליחידה</th>
          <th scope="col">כמות</th>
          <th scope="col">מחיר מלא</th>
          <th scope="col">מחיקה</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let basketItem of basketItems; let i = index">
          <td>
            {{ basketItem.name }}
          </td>
          <td>
            {{ basketItem.price | currency:'ILS':'symbol':'1.2-2' }}
          </td>
          <td>
            <input type="number" name="quantity" min="1" style="width:40px;" [(ngModel)]="basketItem.amount" (input)="setItemAmount(basketItem.id, basketItem.amount)">
          </td>
          <td>
            {{ basketItem.price*basketItem.amount | currency:'ILS':'symbol':'1.2-2' }}
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeItem(i)">
              <i class="fas fa fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="final-price align-bottom">
      סך הכל: {{ getTotalPrice() | currency:'ILS':'symbol':'1.2-2' }}
    </div>
  </div>

  <div class="col-md-8 card-styling" *ngIf="isBasketEmpty()">
    <div>
      אין לך מוצרים בסל. אתם מוזמנים להוסיף מוצרים מהקטגוריות שבתפריט למעלה.
    </div>
  </div>

  <div class="col-md-3 offset-md-1 card-styling">
    <div>
      <img src="https://www.shufersal.co.il/umbracoContent/images/logo_mobile.png" width="200" />
    </div>
    <div>
      <div>רשימת חנויות</div>
      <div>
        <select (change)="selectItem($event.target.value)" class="form-control">
          <option *ngFor="let currStore of stores" [selected]="currStore.Address + ' ' + currStore.City == currentStreetName" value="{{currStore.Address}} {{currStore.City}}">{{currStore.Storename}}</option>
        </select>
        כתובת: {{ currentStreetName }}
      </div>
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" (mapReady)="mapReady($event)" [zoom]="zoom" [scrollwheel]="false">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <button type="button" class="btn btn-primary" style="float:left">
        <i class="fa fa-print"></i>
      </button>
      <button type="button" class="btn btn-danger" style="float:right" (click)="emptyBasket()">
        <i class="fas fa fa-trash-alt"></i>
      </button>
      <button *ngIf="this.isLoggedIn" type="button" class="btn btn-warning" style="float:left" (click)="saveBasket()">
        <i class="fas fa fa-save"></i>
      </button>
    </div>
  </div>
</div>
