<div class="container main-content py-3 py-md-4 my-4 my-md-5 rounded">
  <div class="row justify-content-center">
    <h2>פרופיל אישי</h2>
  </div>

  <div class="row justify-content-center">
    על מנת שהמערכת תדע לבנות עבורכם סל קניות אוטמטי ומותאם אישית, עליכם למלא מספר פרטים:
  </div>

  

  <form id="form-work" name="form" #f="ngForm" novalidate>
    <fieldset>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="birthDate">תאריך לידה</label>
          <input class="form-control" type="date" name="birthdate" [(ngModel)]="profileBuilder.birthdate" #birthdate="ngModel" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="street">רחוב</label>
          <input class="form-control" name="street" [(ngModel)]="profileBuilder.address.street" #street="ngModel" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="city">עיר</label>
          <div class="input-group">
            <select (change)="selectItem($event.target.value)" class="form-control">
              <option *ngFor="let currCity of cities" [selected]="currCity._id == selectedCity" value={{currCity._id}}>{{currCity.cityName}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="adultsNum">מספר מבוגרים</label>
          <div class="input-group">
            <input class="form-control" type="number" name="adults" [(ngModel)]="profileBuilder.peopleAmount.adults" #adults="ngModel"
              min="0" (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="kidsNum">מספר ילדים</label>
          <div class="input-group">
            <input class="form-control" type="number" name="kids" [(ngModel)]="profileBuilder.peopleAmount.kids" #kids="ngModel" min="0"
              (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="babiesNum">מספר תינוקות</label>
          <div class="input-group">
            <input class="form-control" type="number" name="babies" [(ngModel)]="profileBuilder.peopleAmount.babies" #babies="ngModel"
              min="0" (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <b>העדפות והמנעויות</b>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="kosher" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Kosher)" [checked]="profileBuilder.preferences.kosher">
              <span>
                מוצרים כשרים?
              </span>
            </label>
          </div>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="vegan" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Vegan)" [checked]="profileBuilder.preferences.vegan">
              <span>
                מוצרים טבעוניים?
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="veggie" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Veggie)" [checked]="profileBuilder.preferences.veggie">
              <span>
                מוצרים צמחוניים?
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <b>הסל שלי יהיה ללא המוצרים הבאים:</b>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="milk" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Milk)" [checked]="profileBuilder.avoidness.milk">
              <span>
                מוצרי חלב
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="gluten" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Gluten)" [checked]="profileBuilder.avoidness.gluten">
              <span>
                גלוטן
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="soy" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Soy)" [checked]="profileBuilder.avoidness.soy">
              <span>
                סויה
              </span>
            </label>
          </div>
        </div>
      </div>
      
      
      
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <button (click)="saveProfileBuilder()" [disabled]="!f.valid || selectedCity == 0 || (profileBuilder.peopleAmount.adults + profileBuilder.peopleAmount.kids + profileBuilder.peopleAmount.babies) < 1"
            class="btn btn-primary btn-lg btn-block info pointer">שמור פרטים</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
