<div class="container">
  <div class="row justify-content-center">
    <h2>הרכבת פרופיל אישי</h2>
  </div>

  <div class="row justify-content-center">
    <p>נצטרך כמה פרטים עליכם, כדי לבנות עבורכם את סל הקניות האולטימטיבי</p>
  </div>

  <!--
          <div class="form-check checkbox-slider--default">
            <label>
              <input type="checkbox">
              <span>TiTaToggle</span>
            </label>
          </div>-->

  <form id="form-work" name="form" #f="ngForm" novalidate>
    <fieldset>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="birthDate">תאריך לידה</label>
          <input class="form-control" type="date" name="birthdate" [(ngModel)]="profileBuilder.birthdate" #birthdate="ngModel" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="street">רחוב</label>
          <input class="form-control" name="street" [(ngModel)]="profileBuilder.address.street" #street="ngModel" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="city">עיר</label>
          <div class="input-group">
            <select (change)="selectItem($event.target.value)" class="form-control">
              <option *ngFor="let currCity of cities" [selected]="currCity._id == selectedCity" value={{currCity._id}}>{{currCity.cityName}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="adultsNum">מספר מבוגרים</label>
          <div class="input-group">
            <input class="form-control" type="number" name="adults" [(ngModel)]="profileBuilder.peopleAmount.adults" #adults="ngModel"
              min="0" (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="kidsNum">מספר ילדים</label>
          <div class="input-group">
            <input class="form-control" type="number" name="kids" [(ngModel)]="profileBuilder.peopleAmount.kids" #kids="ngModel" min="0"
              (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <label class="control-label" for="babiesNum">מספר תינוקות</label>
          <div class="input-group">
            <input class="form-control" type="number" name="babies" [(ngModel)]="profileBuilder.peopleAmount.babies" #babies="ngModel"
              min="0" (keypress)="_keyPress($event)" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <b>העדפות והמנעויות</b>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="kosher" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Kosher)" [checked]="profileBuilder.preferences.kosher">
              <span>
                מוצרים כשרים בלבד?
              </span>
            </label>
          </div>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="vegan" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Vegan)" [checked]="profileBuilder.preferences.vegan">
              <span>
                מוצרים טבעוניים בלבד?
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="veggie" type="checkbox" (change)="checkPreferences($event, ePreferencesEnum.Veggie)" [checked]="profileBuilder.preferences.veggie">
              <span>
                מוצרים צמחוניים בלבד?
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <b>הסל שלי יהיה ללא המוצרים הבאים:</b>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="eggs" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Eggs)" [checked]="profileBuilder.avoidness.eggs">
              <span>
                ביצים
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="milk" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Milk)" [checked]="profileBuilder.avoidness.milk">
              <span>
                מוצרי חלב
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="gluten" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Gluten)" [checked]="profileBuilder.avoidness.gluten">
              <span>
                גלוטן
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="soy" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Soy)" [checked]="profileBuilder.avoidness.soy">
              <span>
                סויה
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="nuts" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Nuts)" [checked]="profileBuilder.avoidness.nuts">
              <span>
                אגוזים
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="peanuts" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Peanuts)" [checked]="profileBuilder.avoidness.peanuts">
              <span>
                בוטנים
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <div class="form-check checkbox-slider--b-flat">
            <label>
              <input name="ful" type="checkbox" (change)="checkAvoidness($event, eAvoidnessEnum.Ful)" [checked]="profileBuilder.avoidness.ful">
              <span>
                פול
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-8">
          <button name="save" (click)="saveProfileBuilder()" [disabled]="!f.valid || selectedCity == 0 || (profileBuilder.peopleAmount.adults + profileBuilder.peopleAmount.kids + profileBuilder.peopleAmount.babies) < 1"
            class="btn btn-primary btn-lg btn-block info">שמור פרטים</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
